body{
    margin: 0;
    background: rgba(0, 0, 0, 0.025);
}
.admin{
    border: 2px solid black;
}
:root {
    --primary-color:#FF6B1A;
    --secondary-color:#238122f2;
    --danger-color: red;
    --text-color: #B33F00;
    --text1-color: #00b3ad6a;

  }
  