body{
    margin: 0;
    background: rgba(0, 0, 0, 0.025);
}
.admin{
    border: 2px solid black;
}
:root {
    --primary-color:#FF6B1A;
    --secondary-color:#238122f2;
    --danger-color: red;
    --text-color: #b33f00e5;
    --text1-color: #0071b350;

  }
  .fullImage::after {
    background-image: url('https://static.licdn.com/aero-v1/sc/h/4ezbw852t2wrgf27zl1o1qtu7');
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    top: 0;

}

.fullImage {
    position: relative;
    /* display: inline-block; */

}
.Button{
    border: 1px solid rgb(209, 202, 202);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 15px;
    color: black;
}
.Button:hover{
background: rgba(0, 0, 0, 0.066);
}

